header {
    background-color: rgb(61, 64, 203);
    color: white;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    bottom: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    font-size: 25px;
}

.subtitulo{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(42, 200, 66);
    color: white;
    height: 50px;
    top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

#pais-adivinar{
    align-items: center;
    justify-content: space-between;
    display: flex;
}

#inicio{
    font-weight: bold;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#boton-izquierda{
    font-size: 28px;
}

#boton-derecha{
    font-size: 28px;
}

#input{
    font-size: 22px ;
    border: 2px solid #ddd;
    text-align: center;
    margin-top: 9px ;
}

#boton-adivinar{
    font-size: 22px;
    background-color: rgb(61, 64, 203);
    color: #fff;
    border: none;
    top: 2px;

}

#mensaje{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#capitales{
    display: flex;
    flex-direction: column;
}

footer {
    background-color:rgb(61, 64, 203) ;
    display: flex;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 100;
}


.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    max-width: 90%;
    width:450px;
}


img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.nombre {
    font-size: 14px;
    margin: 10px 0;
    color: #333;
}

.cap {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

#boton {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background-color: rgb(61, 64, 203);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.jugadores{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 12px ;
}

h5 {
    margin: 0px;
}

#counter_buenas, #counter_malas {
    font-size: 20px; 
    font-weight: bold;
    color: #2e3a59;
}


.Aciertos, .fallas {
    font-size: 20px;
    color: #555;
    font-weight: 500;
}

.regla{
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.regla_texto{
    text-align: center
}

#ranking { 
    display: flex;
    flex-direction: column; 
    gap: 10px;
    width: 80%; 
    margin: 20px auto;
    padding: 10px;
}

.card2 { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.nombre-jugador {
    flex-basis: 70%; 
    font-size: 1.2em;
    color: #333;
}

.puntaje-jugador {
    flex-basis: 30%; 
    font-size: 1.2em;
    color: #007bff; 
    font-weight: bold;
    text-align: right;
}